<nav class="navbar navbar-expand-lg navbar fixed-top" id="mainNav">
  <div class="container">
      <ul class="navbar-nav ml-auto">
        <li class ="nav-item">
          <img class= Hamburger src="/assets/images/Hamburger_icon.svg" />
        </li>
        <li class ="nav-item">
          <a [routerLink] = "['']">
          <img class= "search" src="/assets/images/search.png" />
        </a>
        </li>
        <li class ="nav-item">
          <a [routerLink] = "['/cart']">
          <img class= Bag src="/assets/images/business.png" />
        </a>
        </li>
      </ul>
  </div>
</nav>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_5terre.jpg">
      <img src="/assets/images/Shirt.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Shirt 300€</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_forest.jpg">
      <img src="/assets/images/Shirt.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Shirt 300</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href>
      <img src="/assets/images/Shirt.jpg" alt="Northern Lights" width="600" height="800">
    </a>
    <div class="desc">Shirt 300</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_mountains.jpg">
      <img src="/assets/images/Shirt.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Shirt 300</div>
  </div>
</div>

<div class="clearfix"></div>
