header {
    display: flex;
    background-color: white;
    margin: 0;
    padding: 5px 5%;
    color: whitesmoke;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-position: center;
    background-repeat: no-repeat center;
    max-width: 1300px;
  
    .brand {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }
  .Hamburger {
    width: 20px;
    height: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    position: fixed;
    left: 2vw;
    top: 0.5vw;
  }
  .Bag {
    width: 20px;
    height: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    position: fixed;
    right: 2vw;
    top: 0.5vw;
  }
  .search {
    width: 20px;
    height: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    position: fixed;
    right: 6vw;
    top: 0.5vw;
  }