/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


 #mainNav {
    min-height: 40px;
    background-color: white;
    height: 40px;
  }
  
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #64a19d;
    border: 1px solid #64a19d;
  }
  
  #mainNav .navbar-toggler:focus {
    outline: none;
  }
  
  #mainNav .navbar-brand {
    color: #161616;
    font-weight: 700;
    padding: .9rem 0;
  }
  
  #mainNav .navbar-nav .nav-item:hover {
    color: white;
    outline: none;
    background-color: transparent;
  }
  
  #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color:white;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      background-color: white;
      transition: background-color 0.3s ease-in-out;
      border-color: black;
    }
    #mainNav .navbar-brand {
      padding: .5rem 0;
      color: rgba(255, 255, 255, 0.5);
    }
    #mainNav .nav-link {
      transition: none;
      padding: 2rem 1.5rem;
      color: rgb(5, 5, 5);
    }
    #mainNav .nav-link:hover {
      color: rgba(255, 255, 255, 0.75);
    }
    #mainNav .nav-link:active {
      color: white;
    }
    #mainNav.navbar-shrink {
      background-color: #fff;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: #161616;
    }
    #mainNav.navbar-shrink .nav-link {
      color: #161616;
      padding: 1.5rem 1.5rem 1.25rem;
      border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link:hover {
      color: #64a19d;
    }
    #mainNav.navbar-shrink .nav-link:active {
      color: #467370;
    }
    #mainNav.navbar-shrink .nav-link.active {
      color: #64a19d;
      outline: none;
      border-bottom: 0.25rem solid #64a19d;
    }
  }
  
  .masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: url("./assets/images/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;

  } 
  
  .masthead h1 {
    font-family: 'Varela Round';
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  .masthead h2 {
    max-width: 20rem;
    font-size: 1rem;
  }
  
  @media (min-width: 768px) {
    .masthead h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
      padding: 0;
    }
    .masthead h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;
      letter-spacing: 0.8rem;
    }
    .masthead h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }

  body {
    font-family: 'Nunito';
    letter-spacing: 0.0625em;
  }
  
  a {
    color: #64a19d;
  }
  
  a:focus, a:hover {
    text-decoration: none;
    color: #3c6360;
  }
  
  .bg-black {
    background-color: #161616 !important;
  }
  
  .bg-primary {
    background-color: #64a19d !important;
  }
  
  .text-primary {
    color: #64a19d !important;
  }
  
  footer {
    padding: 5rem 0;
  }
  